%h1 ZOO

.animals
  This is the zoo's animals list:

  %ul#animals-list
    -@animals.each do |animal|
      =render partial: 'animals/animal', context: animal

%a{href: "#load", id:"retrieve-button"} Retrieve animals

.addnew
  Cat name:
  %input{id: "name"}
  %a{href: "#add", id:"add-button"}
    =t('add')

.language-bar
  %a{href: url_for(locale: 'es')} Castellano
  %a{href: url_for(locale: 'en')} English